<thead>
  <tr>
    <th>Name</th>
    <th>Keywords</th>
    <th>Docs</th>
    <th><button class="btn btn-success" id="add-suggested-all" data-loading-text="Adding...">Add</button></th>
  </tr>
</thead>
{{#each suggestions}}
{{#if positive}}
<tr class="success" data-lid="{{lid}}">
{{else}}
{{#if negative}}
<tr class="danger" data-lid="{{lid}}">
{{else}}
<tr data-lid="{{lid}}">
{{/if}}
{{/if}}
  <td>{{name}}</td>
  <td>{{keywords}}</td>
  <td>{{numDocs}}</td>
  <td><button class="btn btn-success add-suggested" id="suggested-{{lid}}" data-lid="{{lid}}" data-loading-text="Adding...">Add</button></td>
</tr>
{{/each}}

